.hero {
  padding: 0 20px 70px;

  &__title {
    font-size: 52px;
    line-height: 52px;
    font-weight: bold;
    letter-spacing: -3px;
    color: $black;
    max-width: 800px;
    margin-bottom: 20px;

    @media screen and (min-width: 800px) {
      font-size: 72px;
      line-height: 72px;
    }
  }

  &__description {
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    color: #8d8d8d;
    max-width: 620px;
    letter-spacing: 0;
    margin-bottom: 70px;
  }
}
