.how-it-works {
  background: $gray-lightest;
  padding: 80px 20px;

  &__step {
    margin-bottom: 40px;
  }

  &__step-title {
    font-family: 'Rubik';
    font-weight: bold;
    font-size: 22px;
    letter-spacing: -1px;
    margin-bottom: 5px;
  }

  &__step-body {
    font-size: 22px;
  }

  @media screen and (min-width: 800px) {
    &__body {
      display: flex;
      gap: 70px;
      max-width: 900px;
      margin: 0 auto;
    }

    h2 {
      text-align: center;
      margin-bottom: 100px;
      font-size: 60px;
    }

    &__step-title {
      font-size: 30px;
    }
  }
}
