<table class="table table-striped">
  <tbody>
    <% slides.each do |slide| %>
      <tr>
        <td>
          <%= image_tag(slide.image.url, class: 'slide__image') %>
        </td>
      </tr>
    <% end %>
  </thead>
</table>

<%= paginate slides, theme: 'twitter-bootstrap-4' %>
