<header class="header container">
  <div class="brand">
    <div class="brand__logo"></div>
    <div class="brand__name">
      <a href="/">SliderUI</a>
    </div>
  </div>
</header>

<main class="main container">
  <div class="main__header">
    <h1>Select Plan</h1>
    <p>Upgrade or cancel your subscription any time.</p>
  </div>

  <div class="plans">
    <div class="plan">
      <div class="plan__main">
        <div class="plan__name">Free</div>

        <div class="plan__cost">
          <div class="value">$0</div>
          <div class="label">/ month</div>
        </div>

        <div class="plan__features">
          <ul>
            <li>One slider</li>
            <li>Dashboard access</li>
          </ul>
        </div>
      </div>

      <div class="plan__button">
        <a href="" class="button button--full-width">
          Choose Plan
        </a>
      </div>
    </div>

    <div class="plan">
      <div class="plan__main">
        <div class="plan__name">Premium</div>

        <div class="plan__cost">
          <div class="value">$5</div>
          <div class="label">/ month</div>
        </div>

        <div class="plan__features">
          <ul>
            <li>Unlimited sliders</li>
            <li>Email support</li>
            <li>Dashboard access</li>
          </ul>
        </div>
      </div>

      <div class="plan__button">
        <a href="" class="button button--full-width">
          Choose Plan
        </a>
      </div>
    </div>
  </div>
</main>
