<div @click.outside="modal = false" class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-xl sm:p-6">
  <div class="absolute right-0 top-0 hidden pr-4 pt-4 sm:block">
    <button @click="modal = false" type="button" class="rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
      <span class="sr-only">Close</span>
      <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>

  <div class="pb-8" x-data="{ form: 'signup' }">
    <template x-if="form == 'signup'">
      <div id="registration-form">
        <%= render 'sign_up' %>
      </div>
    </template>

    <template x-if="form == 'signin'">
      <div id="session-form">
        <%= render 'sign_in' %>
      </div>
    </template>
  </div>
</div>