<div x-show="modal" x-cloak class="relative z-30" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <!--
    Background backdrop, show/hide based on modal state.
  -->
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
      <!--
        Modal panel, show/hide based on modal state.
      -->

      <div id="install-body">
        <% if !current_user %>
          <%= render 'authentication' %>
        <% else %>
          <%= render 'embed_code', slider: @slider %>
        <% end %>
      </div>
    </div>
  </div>
</div>