<nav>
  <%= active_link_to 'Edit', dashboard_edit_slider_path(slider.short_code), active: :exact, class: 'slider-layout__tab-link' %>
  <%= active_link_to 'Install Slider', dashboard_embed_slider_path(slider.short_code), active: :exact, class: 'slider-layout__tab-link' %>
</nav>

<div class="slider-layout__controls">
  <div class="slider-layout__meta">
    Slider ID: <strong><%= slider.short_code %></strong>
  </div>
</div>
