<div class="section flex-child--full-width">
  <h3>Preview</h3>
  <div class="slider-preview">

    <div data-slider-id="<%= @slider.short_code %>"></div>
    <div id="script-container">
      <script type="text/javascript" src="http://localhost:3000/sliders/<%= short_code %>.js"></script>
    </div>

  </div>
</div>
