<div id="slides" x-show="visible == 'images'">
  <div class="mb-4">
    <input
      accept="image/jpeg, image/png, image/gif"
      class="file-upload sr-only"
      type="file"
      id="file-upload-sidebar"
    >

    <label class="text-center block cursor-pointer rounded-md bg-indigo-50 px-3 py-2 text-sm font-semibold text-indigo-600 shadow-sm hover:bg-indigo-100" for="file-upload-sidebar">
      Add Image
    </label>
  </div>

  <%= render 'slide_list', slides: slides %>
</div>
