<div data-section="slides" style="display: block;" class="scrollable">
  <div class="scrollable__header">
    <div class="image-uploader">
      <input type="file" id="slide-image-new" accept="image/jpeg, image/png, image/gif" class="image-uploader__file">
      <label for="slide-image-new" class="image-uploader__label button button--secondary button--full-width button--add-slide">
        Add Slide
      </label>
    </div>
  </div>

  <div id="tpl-slides-output" class="scrollable__body scrollable__body--button"></div>
</div>
