<div class="slider-layout">
  <div class="slider-layout__header">
    <%= render 'nav', slider: @slider %>
  </div>

  <%= react_component('slider-container', {}, class: 'slider-layout__body') %>
</div>

<div class="loader" style="display: none;">
  Loading...
</div>
