<div class="slider-layout">
  <div class="slider-layout__header">
    <%= render 'nav', slider: @slider %>
  </div>

  <div id="root" class="slider-layout__body">
    <slider-app slider-id="<%= @slider.id %>"></slider-app>
  </div>
</div>

<div class="loader" style="display: none;">
  Loading...
</div>
