<div class="slider-layout">
  <div class="slider-layout__header">
    <%= render 'nav', slider: @slider %>
  </div>

  <div class="slider-layout__body">
    <div class="slider-settings">
      <div class="section slider-settings__slides">
        <div class="scrollable">
          <div class="scrollable__header">
            <nav>
              <a href="" class="section__tab-link active">Slides</a>
              <a href="" class="section__tab-link">Settings</a>
            </nav>
          </div>

          <div class="scrollable__body">
            <%= render 'settings', slider: @slider %>
          </div>
        </div>
      </div>

      <%= render 'preview', short_code: @slider.short_code %>
    </div>
  </div>
</div>

<div class="loader" style="display: none;">
  Loading...
</div>

<script>
  DashboardSlider.init({
    shortCode: '<%= @slider.short_code %>'
  });
</script>
