<div class="slider-layout">
  <div class="slider-layout__header">
    <%= render 'nav', slider: @slider %>
  </div>

  <div class="slider-layout__body">
    <div class="slider-settings">
      <%= react_component('hello') %>
    </div>
  </div>
</div>

<div class="loader" style="display: none;">
  Loading...
</div>
