<div class="slider-layout">
  <div class="slider-layout__header">
    <%= render 'nav', slider: @slider %>
  </div>

  <div class="slider-layout__body">
    <div class="section section--padded">
      <h1>Instructions</h1>
      <ol>
        <li>Copy the embed code displayed below</li>
        <li>Select a location on any webpage and paste the code.<br>The slider will appear at that exact location.</li>
      </ol>

      <hr>

      <h1>Embed Code</h1>
      <div class="embed-code">
        <div class="embed-code__code-copy flex-container">
          <span class="link">Click here to copy code</span>
        </div>

        <div class="code">
<pre>&lt;div data-slider-id="<%= @slider.short_code %>"&gt;&lt;/div&gt;
&lt;script type="text/javascript" src="<%= ENV['APP_HOST'] %>/sliders/<%= @slider.short_code %>.js"&gt;&lt;/script&gt;</pre>
        </div>
      </div>
    </div>
  </div>
</div>
