<div class="section section--padded">
  <%= form_for(@slider, url: dashboard_sliders_path) do |f| %>
    <h1>Give the slider a name:</h1>
    <div class="form-row">
      <%= f.text_field :title, class: 'input--text' %>
    </div>

    <button class="button button--primary">Create Slider and Add Slides</button>
  <% end %>
</div>
