<div class="slider-layout">
  <div class="slider-layout__header">
    <nav>
      <a class="slider-layout__tab-link slider-layout__tab-link--edit active" href="/app/slider/c87cfaf5-4bb9-474c-b386-557d91a9289c/edit">
        Edit
      </a>

      <a class="slider-layout__tab-link slider-layout__tab-link--code" href="/app/slider/c87cfaf5-4bb9-474c-b386-557d91a9289c/code">
        Embed Slider
      </a>
    </nav>
  </div>
</div>
