<div class="container__header container__header--app">
  <div class="user-toolbar">
    <div class="brand">
      <div class="brand__logo"></div>
      <div class="brand__name">
        <%= link_to 'SliderUI', '' %>
      </div>
    </div>
  </div>
</div>
