.button {
  padding: 12px 28px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  text-align: center;

  &[disabled] {
    border-color: $gray-light;
    color: $gray-light;
    background: $white;
    cursor: auto;
  }

  &.loading {
    cursor: wait;
    border-color: $gray-light;
    color: $gray-light;
  }

  &:hover {
    text-decoration: none;
  }

  &--primary {
    background: $primary;
    border-color: $primary;
    color: $white;

    &:not([disabled]):hover {
      background: darken($primary, 5%);
    }
  }

  &--secondary {
    background: lighten($primary, 27%);
    border-color: lighten($primary, 20%);
    color: $primary;
    font-size: 14px;

    &:not([disabled]):hover {
      background: lighten($primary, 24%);
    }
  }

  &--inline {
    margin-right: 20px;
  }

  &--round {
    border-radius: 40px;
    background: none;
    color: $white;
    border: solid $white 2px;
    padding: 12px 24px;
    text-transform: uppercase;
    transition: all 200ms;

    &:hover {
      background: $white;
      color: $primary;
    }
  }

  &--large {
    font-size: 16px;
  }

  &--small {
    font-size: 14px;
    padding: 6px 10px;
  }

  &--lock {
    background: asset-url('icon-lock.svg') 20px 14px no-repeat $gray-light;
    background-size: 18px;
    color: $white;
    padding-left: 45px;
  }

  &--purple {
    background: $purple;
  }

  &--full-width {
    width: 100%;
  }

  &--hero {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -1px;
    background: $primary;
    border-radius: 10px;
    color: #fff;
    padding: 20px 40px;
  }
}
