.slider-list {
  h1 {
    margin-bottom: 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__slide {
    display: flex;
    align-items: center;
    margin-bottom: 14px;

    a {
      font-size: 18px;
    }
  }

  &__slide-image {
    width: 60px;
    height: 60px;
    background-size: cover;
    margin-right: 12px;
    border-radius: 40px;
    background-color: $gray-lightest;
  }

  &__button {
    display: flex;
    flex-direction: column;
    position: relative;

    .button {
      align-self: flex-end;
      display: block;
    }

    .tooltip {
      top: 62px;
      opacity: 0;
      transition: opacity .5s;
    }
  }
}

.slider-list__button:hover {
  .tooltip {
    opacity: 1;
  }
}
