<h1>Sliders</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
    </tr>
  </thead>

  <tbody>
    <% @sliders.each do |slider| %>
      <tr>
        <td><%= slider.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>
