.brand {
  display: flex;
  align-items: center;

  &__logo {
    background: asset-url('icon-star.svg') center center no-repeat;
    height: 30px;
    width: 30px;
    margin-right: 4px;
  }

  &__name {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Rubik';
    letter-spacing: -1px;

    a {
      color: inherit;
      font-family: inherit;
      font-weight: bold;
    }
  }
}

.support {
  a {
    color: $primary;
    display: flex;
    gap: 5px;

    svg {
      width: 20px;
      color: $primary;
    }
  }
}