.brand {
  display: flex;
  align-items: center;

  &__logo {
    background: asset-url('icon-star.svg') center center no-repeat;
    height: 30px;
    width: 30px;
    margin-right: 4px;
  }

  &__name {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Rubik';
    letter-spacing: -1px;
  }
}
