.form-row {
  margin-bottom: 30px;
}

.form--auth {
  width: 100%;
  max-width: 500px;
}

.form--slider-settings {
  height: 100%;
  overflow-y: auto;
}

.field_with_errors {
  input {
    color: red;
    border: solid 1px red;
  }
}
