.home {
  background: #fff;
  padding: 0 20px;

  * {
    font-family: 'Rubik';
  }

  .brand__logo {
    height: 38px;
    width: 38px;
  }

  .brand__name {
    font-size: 28px;
  }

  header {
    padding: 20px 0;
    max-width: 1200px;
    margin: 0 auto 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      font-size: 18px;
      font-weight: 300;
      color: #777
    }

    .button {
      display: none;
      font-weight: bold;
      color: #fff;
      border-radius: 6px;
      margin-left: 50px;

      @media screen and (min-width: 800px) {
        display: inline-block;
      }
    }
  }
}

.hero {
  padding-bottom: 70px;

  &__title {
    font-size: 52px;
    line-height: 52px;
    font-weight: bold;
    letter-spacing: -3px;
    color: $black;
    max-width: 800px;
    margin-bottom: 20px;

    @media screen and (min-width: 800px) {
      font-size: 72px;
      line-height: 72px;
    }
  }

  &__description {
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    color: #8d8d8d;
    max-width: 620px;
    letter-spacing: 0;
    margin-bottom: 70px;
  }
}
