.slider-list {
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__slide {
    display: flex;
    align-items: center;
    margin-bottom: 14px;

    a {
      font-size: 18px;
    }
  }

  &__slide-image {
    width: 60px;
    height: 60px;
    background-size: cover;
    margin-right: 12px;
    border-radius: 40px;
    background-color: $gray-lightest;
  }
}
