<div class="account-nav">
  <%= active_link_to 'Subscription', edit_dashboard_subscription_path %>
  <%= active_link_to 'Password', edit_dashboard_password_path %>
  <%= active_link_to 'Delete Account', dashboard_account_path %>
</div>
