<div class="subscription">
  <div class="subscription__meta">
    <div class="subscription__item">
      Current plan: <strong class="subscription__value">Free</strong>
    </div>

    <div class="subscription__item">
      Status: <strong class="subscription__value"><%= current_user.subscription_status %></strong>
    </div>
  </div>

  <div class="subscription__description">
    <p>
      Your current plan includes <strong>one</strong> slider.<br>
      Upgrade to get unlimited sliders for <strong>$5 USD</strong> / month.
    </p>
  </div>

  <button id="stripe-checkout" class="button button--primary">
    Upgrade Plan
  </button>
</div>
