<script src="https://js.stripe.com/v3/"></script>

<div class="section section--padded">
  <h1>Account</h1>

  <%= render 'dashboard/shared/account_nav' %>

  <% if current_user.subscription_type == 'free' %>
    <%= render 'free' %>
  <% else %>
    <%= render 'premium' %>
  <% end %>
</div>

<script type="text/javascript">
  var stripe = Stripe('<%= ENV['STRIPE_PUBLIC_KEY'] %>');

  $('#stripe-checkout').on('click', (event) => {
    event.preventDefault();
    $('#stripe-checkout').html('Loading...').prop('disabled', true);

    return fetch('/api/stripe/checkout', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' }
    })
    .then((result) => {
      return result.json();
    })
    .then((payload) => {
      stripe.redirectToCheckout({
        sessionId: payload.sessionId
      });
    })
  });

  $('#stripe-portal').on('click', (event) => {
    event.preventDefault();
    $('#stripe-portal').html('Loading...').prop('disabled', true);

    return fetch('/api/stripe/portal', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' }
    })
    .then((result) => {
      return result.json();
    })
    .then((payload) => {
      window.location.href = payload.portalUrl;
    });
  });
</script>
