.button {
  font-weight: bold;
  color: #fff;
  border-radius: 6px;
  padding: 10px 16px;
  cursor: pointer;
  border-style: solid;
  border-width: $primary-border-width;
  font-size: 18px;
  display: inline-block;
  text-align: center;
  background: $primary;
  border-color: $primary;
  color: $white;

  &:not([disabled]):hover {
    background: darken($primary, 5%);
    text-decoration: none;
  }

  &--hero {
    font-size: 28px;
    letter-spacing: -1px;
    background: $primary;
    border-radius: 10px;
    padding: 20px 40px;
  }
}
