.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 20px;
  align-items: center;
  max-width: 1200px;
  width: 100%;

  &__link {
    font-size: 18px;
    font-weight: 300;
    color: #777
  }

  .button {
    margin-left: 50px;
  }
}
