.home {
  background: #fff;

  h2 {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: -1px;
    font-family: 'Rubik';
  }

  .header {
    margin-bottom: 100px;

    .button {
      display: none;
    }
  }

  &__section {
    padding: 80px 20px;

    &--gray {
      background: $gray-lightest;
    }
  }

  &__section-header {
    margin-bottom: 40px;

    p {
      font-size: 18px;
      color: $gray-medium;
    }
  }

  @media screen and (min-width: 800px) {
    h2 {
      font-size: 48px;
    }

    .header {
      .button {
        display: inline-block;
      }
    }

    &__section-header {
      margin-bottom: 100px;
      text-align: center;
    }
  }
}
