.plans {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.plan {
  padding: 40px 40px;
  background: $gray-lightest;
  max-width: 326px;
  min-height: 360px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__name {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
  }

  &__cost {
    display: flex;
    align-items: center;
    font-family: 'Rubik';
    margin-bottom: 30px;

    .value {
      font-family: inherit;
      font-weight: bold;
      font-size: 50px;
      margin-right: 14px;
      letter-spacing: -2px;
    }

    .label {
      font-family: inherit;
      color: $gray-medium;
      font-size: 18px;
    }
  }

  &__features {
    margin-bottom: 30px;
  }

  &__button {
    width: 100%;
  }
}
