<div class="slide-item slide-item--showing">
  <div class="slide-item__child">
    <div class="slide-item__preview" style="background-image: url('{{imageUrl}}');"></div>
  </div>

  <div class="slide-item__child slide-item__controls">
    <button
      class="slide-item__control--edit"
      data-menu-open="{{id}}">
    </button>

    <div class="slide-item__handle slide-item__control--move"></div>
  </div>
</div>
